<!-- <div>
  <div id="map" style="width:900px;">
  </div>
      <div *ngIf="isLoading; else elseBlock" class="spinner-border text-center" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <ng-template #elseBlock>
        <div>
          viz works!
        </div>
        <app-pie-chart [pieResponse]="apiPieResponse"></app-pie-chart>
        <app-line-chart></app-line-chart>
        <app-doughnut-chart></app-doughnut-chart>
      </ng-template>
</div> -->
<div class="row justify-content-around mt-4">
  <div class="card flex-md-row col-sm-11 col-xs-12 p-0 map-view">
    <div class="card-body align-items-center d-flex justify-content-center">
      <div id="myMap" style="width:1200px;">
      </div>
    </div>
  </div>

  <div *ngIf="isLocationSelected; else elseBlock" >
    <div class="card flex-md-row col-sm-5 col-xs-12 p-0">
      <div class="card-body align-items-center d-flex justify-content-center">
        <app-pie-chart [pieResponse]="apiPieResponse"></app-pie-chart>
      </div>
    </div>
    <div class="card flex-md-row col-sm-5 col-xs-12 p-0">
      <div class="card-body align-items-center d-flex justify-content-center">
        <app-line-chart></app-line-chart>
      </div>
    </div>
    <div class="card flex-md-row col-sm-5 col-xs-12 p-0">
      <div class="card-body align-items-center d-flex justify-content-center">
        <app-doughnut-chart></app-doughnut-chart>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>

  </ng-template>

</div>
