.map{
    height:30em;
    background:#ceb2b2;
}

.navbar-nav.mr-auto > li{
     margin-right: 7px;
}

.left,.right{
    height:10em;
}
.left{
    background: lightslategrey;
}

.right{
    background: lavenderblush;
}

.bottom{
    height: 10em;
    background: salmon;
}