<div class="wrapper d-flex w-100 h-100" id="wrapper">
  <nav id="sidebar">
    <div class="sidebar-sticky text-center">
      <div class="sidebar-header">
        <a class="navbar-brand" href="#"><img src="assets/logo.png" class="logo" alt="logo"></a>
      </div>
      <!-- <div class="quick-create text-left" title="Add course">
        <button type="button" class="btn btn-primary" routerLink="/course/add"><i class="fas fa-plus"></i><span>&nbsp;&nbsp;Add Course</span></button>
      </div> -->

      <ul class="nav flex-column text-left">
        <li class="nav-item active"><a class="nav-link" routerLink="/viz"><i class="fas fa-tv"></i><span>&nbsp;&nbsp;&nbsp;Home</span></a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/viz"><i class="fas fa-chart-line"></i><span>&nbsp;&nbsp;&nbsp;Prediction</span></a></li>
        <li class="nav-item"><a routerLink="/viz" class="nav-link"><i class="fas fa-question-circle"></i><span>&nbsp;&nbsp;&nbsp;Help</span></a></li>
      </ul>

      <div class="collapse-in-out" (click)="collapse()" title="collapse">
        <i class="fas fa-angle-double-left" style="color:#343957"></i>
      </div>
    </div>
  </nav>

  <div id="content">
    <div class="top-nav">
      <nav class="navbar navbar-light pb-0 pr-2 justify-content-center">
        <div class="form-group bg-transparent">
          <label>Month</label>
          <select class="form-control" id="month">
            <option value="1">Jan</option>
            <option value="2">Feb</option>
            <option value="3">Mar</option>
            <option value="4">Apr</option>
          </select>
        </div>
        <div class="form-group bg-transparent">
          <label>Query</label>
          <select class="form-control" id="queryType">
            <option value="PEOPLE_FROM">Most People From</option>
            <option value="PEOPLE_TO">Most People To</option>
            <option value="ROUTE_FROM">Most Expensive From</option>
            <option value="ROUTE_TO">Most Expensive To</option>
            <option value="TOTAL_COST_TO">Total Cost to</option>
            <option value="TOTAL_COST_FROM">Total Cost From</option>
            <option value="TOTAL_PASSENGER_TO">Total Passenger To</option>
            <option value="TOTAL_PASSENGER_FROM">Total Passenger From</option>
          </select>
        </div>
        <div class="form-group  bg-transparent">
          <label>City</label>
          <select class="form-control" id="citySelected">
              <option value="calgary">calgary</option>
              <option value="edmonton">edmonton</option>
              <option value="fredericton">fredericton</option>
              <option value="halifax">halifax</option>
              <option value="montreal">montreal</option>
              <option value="ottawa">ottawa</option>
              <option value="quebec">quebec</option>
              <option value="regina">regina</option>
              <option value="saskatoon">saskatoon</option>
              <option value="st john's">st john's</option>
              <option value="thunder bay">thunder bay</option>
              <option value="toronto">toronto</option>
              <option value="vancouver">vancouver</option>
              <option value="victoria">victoria</option>
              <option value="winnipeg">winnipeg</option>
              <option value="yellowknife">yellowknife</option>
          </select>
        </div>
        <button type="button" class="btn btn-primary run-report" (click)="submitQuery();">Go</button>
      </nav>

    </div>

    <div class="course-wrapper px-4">
      <div class="content-title row justify-content-around">
        <div class="col-sm-11 col-xs-12 p-0">
          <h6>
            <span class="float-left">Dashboard &nbsp;&nbsp;</span>
            <span class="float-right cursor-pointer" data-toggle="tooltip" data-placement="bottom" title="Export as CSV">
              <i class="fas fa-file-download" style="font-size:22px;"></i>
            </span>
          </h6>
        </div>
        <div class="col-sm-5 col-xs-0 p-0">
        </div>
      </div>
      <div *ngIf="isLoading; else elseBlock" class="spinner-border text-center" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <ng-template #elseBlock>
        <app-viz [apiMapResponse]="apiResponse"></app-viz>
      </ng-template>
    </div>
  </div>
</div>
